/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
.env
public/slog/slog.php
public/slog/slog.function.php
version
app/Console/Commands/AlicTest.php
